@model TicariOtamasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori güncelleme</h2>

@using(Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))// açılan sayfa post edildikten sonra hangi actiona gideceğini yazıyor.

{
    <div class="form-group">
        @Html.LabelFor(x=> x.KategoriAd)
        @Html.TextBoxFor(x=> x.KategoriAd , new { @class = "form-control" })
        @Html.HiddenFor(x=> x.KategoriID) 
    </div>//kategori ıd yi gizli olarak bu sayfaya taşıdık
    <br />
    <button class="btn btn-danger">Guncelle</button>

}